<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <h2>{{message}}</h2>
    <h2 v-for="item in people">{{item}}</h2>

<!--    value,key-->
    <h2 v-for="(value,key,index) in people">{{value}}-{{key}}-{{index}}</h2>
</div>
<script src="../js/vue.js"></script>
<script>
    //语法糖就是简写，v-on:click => @click    v-bind:click => :click
    const app = new Vue({
        el : "#app",
        data : {
            message : "你好，世界!",
            people : {
                name : "kuaidongping",
                age : 22,
                height : 180
            }
        },
        methods : {

        }
    })
</script>
</body>
</html>